:root {

/* Colors: */
--unnamed-color-bbbbbb: #BBBBBB;
--unnamed-color-e6e6e6: #E6E6E6;
--unnamed-color-25d366: #25D366;
--unnamed-color-4d4d4d: #4D4D4D;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-1c69d4: #1C69D4;
---262626-texto-: #262626;
---0653b6-hover-: #0653B6;
--unnamed-color-666666: #666666;
--unnamed-color-000000: #000000;

/* Font/text values */
--unnamed-font-family-bmw-type-web-all: BMW Type Web All;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-10: 10px;
--unnamed-font-size-12: 12px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-40: 40px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-12: 12px;
--unnamed-line-spacing-15: 15px;
--unnamed-line-spacing-16: 16px;
--unnamed-line-spacing-17: 17px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-22: 22px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-26: 26px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-48: 48px;
--unnamed-decoration-underline: underline;
--unnamed-text-transform-uppercase: uppercase;
}


*, body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.conatiner{
    margin-left: 285px;
    margin-right: 285px;
    width: 100vw;
}

body {
    overflow-x: hidden;
}

main {
    margin-bottom: 70px;
}

.navbar {
    height: 120px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0px !important;
}

.navbarDesktop {
    display: flex;
}

.navbarDesktopNoShow {
    display: none;
}

.navbarMobile {
    position: fixed;
    display: absolute;
    z-index: 99999999999999999999999999999;
    height: 10%;
    top: 0;
    justify-content: center;
    align-items: center;
}

.navbarMobileNoShow {
    display: none;
}

/* .navbarMobileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;

} */

.containerHeader {
    height: 100%;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: space-around;
}

.info {
    font-size: 14px;
}

.containerHeaderMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

.containerHeaderMenuContact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin-top: 20px;
    
}

.containerHeaderMenuContact li {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-right: 25px;
    list-style: none;
    cursor: pointer;
}

.cardBody {
    border: transparent
}

.card-body button {
    font-size: 14px;
    font-weight: bold;
}

.card-title {
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
}

.containerHeaderMenuContact li:hover {
    background-color: #575757;
}

.phoneIcon{
    margin-right: 10px;
}

#collapseOne {
    position: absolute;
    left: 0;
    z-index: 99999999999999999;
    width: 100vw;
    background-color: white;
}

#collapse3 {
    position: absolute;
    right: 0;
    z-index: 99999999999999999;
    width: 20vw;
    background-color: white;
    box-shadow: 1px 2px 20px black;
    padding-bottom: 10px;
}.navbarTwoMobile

#whatsapp {
    background-color: #25D366;
}

#whatsapp:hover {
    background-color: #35AA61;
}

.containerHeaderMenuListContainer {
    width: 70%;
    height: 100%;
    margin-top: 10px;
    border: none;
}

#accordionExample, .accordion, .accordionExample3 {
    border: none;
}

.accordion-item  {
 border: 0px;
 padding: 0px;
}

.containerHeaderMenuList {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}


.accordion-button::before{
    padding: 0px;
    background-color: white;
    border: none;
}

.accordion-button::after {
    display: none;
    border: none;
    background-color: none;
}

.accordion-button::before {
    display: none;
    border: none;
    background-color: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    border: none;
}

.containerHeaderMenuList li {
    cursor: pointer;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    border: none;
}

.accordion-button .collapsed {
    width: 80px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    width: auto;
    height: 75px;
}

.buttonQuotation {
    background-color: #1C69D4;
    border-radius: 0px;
}

.buttonQuotation:hover {
    background-color: #0351BE;
}

.grisTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #666666;
    padding-top: 20px;
    font-size: 10px;
}

.cardLinks img{
    height: 22px;
    margin-left: 8px;
    width: auto;
    color: #666666;
}

footer{
    background-color:#E6E6E6;
    width: 100vw;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 9%;
    padding-right: 9%;
    height: 200px;
}

.footerText {
    border-bottom: 1px solid #BBBBBB;
}


.footerText p {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
    margin-bottom: 30px;
}

.footerImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bmwLogoFooter img {
    height: auto;
    width: 45%;
}

.alpesLogoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alpesLogoFooter p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

.alpesLogoFooter img {
    height: auto;
    width: 68%;
    justify-content: center;
    align-items: center;
}

.copyrightFooter{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.copyrightFooter p{
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #262626;
    opacity: 1;
}

#quotationContainer {
    display: flex;
    position: absolute;
    z-index: 99999999;
    width: 250px;
    top: 40px;
    padding: 5px;
    right: 15%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.quotationContainer form {
    padding: 8px;
}

.quotationContainer2 {
    display: flex;
    position: absolute;
    z-index: 9999999999;
    width: 250px;
    top: 0px;
    padding: 5px;
    right: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#quotationContainer2 form {
    padding: 8px;
}

.form-control, .form-select{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #666666;
    border-radius: 0px;
}

.form-control:focus,
.form-floating:focus,
.form-select:focus {
    border-bottom: 1px solid #1C69D4;
    box-shadow: none;
}

.quoteCheck {
    margin-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.quoteCarIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.quoteCarIconContainer h6 {
    margin: 0px;
}


.quoteCarIcon {
    background: url('./icons/svg/carro.svg');
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbarCarousel {
    margin-bottom: 0px;
    bottom: -10px;
}

.carousel-dark .carousel-control-next, .carousel-dark .carousel-control-prev {
    width: 20px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    width: 15px;
}

.accordion-body {
    padding-left: 40px;
    padding-right: 60px;
}

#accordion-body2{
    padding: 0px !important;
    margin: 0px !;
}

.quoteNavButton {
    background-color: #1C69D4 !important;
    color: white !important;
    border: none !important;
    width: 100% !important;
    margin: 0px !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    border: none !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xx {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 400px) {
    #navbarOne {
        display: none;
    }

    .navbarTwoMobile {
        position: fixed;
        display: absolute;
        top: 0px;
        height: 10%;
    }

    .quotationContainer2{
        width: 100vw;
    }
}
